.wl-emoji-popup {
  width: 100%;
}
.wl-content .wl-emoji {
  height: 3em !important;
  vertical-align: sub !important;
}
.wl-content .wl-emoji[src^='/images/emote/小黄脸/'], .wl-content .wl-emoji[src^='/images/emote/tv_小电视/'], .wl-content .wl-emoji[src^='/images/emote/喵/'] {
  height: 1.5em !important;
}

th {
  text-align: center !important;
}
img.avatar {
  border-radius: 50%;
  min-width: 50px;
}
img.emote {
  display: inline;
  height: 2.5em;
  margin: 0 !important;
  vertical-align: sub;
}
img.emote[src^='/images/emote/小黄脸/'], img.emote[src^='/images/emote/tv_小电视/'], img.emote[src^='/images/emote/喵/'] {
  height: 1.25em;
}
img.face-icon {
  border-radius: 50%;
  height: 1.5rem;
  left: 4rem;
  position: absolute;
  top: 4rem;
}
img.face-icon.second {
  left: 2.6rem;
}
a.inaccessible {
  position: relative;
}
a.inaccessible:hover::before {
  background: #222;
  border-radius: 5px;
  color: #eee;
  content: '您所在的国家 / 地区可能无法访问该链接。';
  font-size: 16px;
  padding: 5px;
  position: absolute;
  top: 24px;
  z-index: 10;
}

@font-face {
  font-family: 'iconfont';
  src: url(/css/iconfont.ttf) format('truetype');
}
.fa-custom {
  font-family: 'iconfont';
  font-style: normal;
}
.fa-custom.gitee {
  content: '\e677';
}
