<script data-pjax>
CONFIG.waline.imageUploader = async file => {
  const { token } = (await (await fetch('https://api.yumeharu.top/api/modules?id=token')).json()).data;
  const formData = new FormData();
  formData.append('image', file);
  formData.append('apiType', 'majorhua,ai58');
  formData.append('token', atob(token));
  return (await (await fetch('https://www.hualigs.cn/api/upload', { method: 'POST', body: formData })).json()).data.url.majorhua;
};
(async () => {
  const { blocked } = (await (await fetch('https://api.yumeharu.top/api/modules?id=blocked')).json()).data;
  if (blocked) {
    const regExp = new RegExp(blocked);
    document.querySelectorAll('a').forEach(e => regExp.test(e.hostname) && e.classList.add('inaccessible'));
  }
})();
</script>
