<div>
  <a class="badge" target="_blank" href="https://hexo.io/"><img class="badge no-fancybox" alt="框架: Hexo" src="/images/badges%26thanks/hexo-badge.svg" /></a>
  <a class="badge" target="_blank" href="https://theme-next.js.org/"><img class="badge no-fancybox" alt="主题: NexT" src="/images/badges%26thanks/next-badge.svg" /></a>
  <a class="badge" target="_blank" href="https://github.com/wuziqian211/website-src"><img class="badge no-fancybox" alt="源码: GitHub" src="/images/badges%26thanks/github-badge.svg" /></a>
</div>
<div>
  <a class="badge" target="_blank" href="https://creativecommons.org/licenses/by/4.0/deed.zh-cn"><img class="badge no-fancybox" alt="许可协议: CC-BY 4.0" src="/images/badges%26thanks/cc-badge.svg" /></a>
  <a class="badge" target="_blank" href="https://icp.gov.moe/?keyword=20232110"><img class="badge no-fancybox" alt="萌ICP备: 20232110号" src="/images/badges%26thanks/moe-badge.svg" /></a>
</div>
<div>
  <a class="badge" target="_blank" href="https://stats.uptimerobot.com/5x0G7tMRl4"><img class="badge no-fancybox" alt="网站状态: UptimeRobot" src="/images/badges%26thanks/uptimerobot-badge.svg" /></a>
</div>
