html {
  filter: grayscale(1);
}
.comments {
  overflow: visible;
}
.wl-emoji-popup {
  width: 100%;
}
.wl-content .wl-emoji {
  height: 2.5em !important;
}
.wl-content .wl-emoji[src^="/emote/小黄脸/"], .wl-content .wl-emoji[src^="/emote/tv_小电视/"] {
  height: 1.25em !important;
}
th {
  text-align: center !important;
}
.post-footer {
  overflow-wrap: break-word;
  text-align: justify;
}
.back-to-top {
  border-radius: 10px;
}
.wl-avatar img, .site-author-image, .wl-user img {
  border-radius: 50% !important;
  min-width: 0 !important;
}
.cc-license img {
  border-radius: 0 !important;
  min-width: 0 !important;
}
img.avatar {
  border-radius: 50% !important;
}
img.face-icon {
  height: 1.5rem;
  left: 4rem;
  position: absolute;
  top: 4rem;
}
img:not(.wl-emoji):not(.fancybox-image):not(.face-icon) {
  border-radius: 20px;
  min-width: 50px;
}
.link-grid-container, blockquote, .post-copyright ul {
  border-radius: 20px !important;
}
.site-brand-container, .header-inner {
  border-radius: 0 0 20px 20px !important;
}
.main-inner > .sub-menu, .main-inner > .post-block, .main-inner > .tabs-comment, .main-inner > .comments, .main-inner > .pagination, .sidebar-inner {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}
img.fancybox-image, img.face-icon {
  opacity: 1 !important;
}
a.inaccessible {
  position: relative;
}
a.inaccessible:hover::before {
  background: #222;
  border-radius: 5px;
  color: #eee;
  content: "您所在的国家 / 地区可能无法访问该链接。";
  font-size: 16px;
  padding: 5px;
  position: absolute;
  top: 24px;
  z-index: 10;
}

@font-face {
  font-family: "iconfont";
  src: url(/css/iconfont.ttf) format("truetype");
}
.custom {
  font-family: "iconfont" !important;
  font-style: normal;
  margin-right: 2px;
}
.bilibili:before {
  content: "\e75c";
}
.gitee:before {
  content: "\e677";
}
