.comments {
  overflow: visible;
}
.wl-emoji-popup .wl-tabs {
  height: auto !important;
}
.wl-content .wl-emoji {
  width: 2.5em !important;
  vertical-align: bottom !important;
}
.wl-content .wl-emoji[src^="/emote/1/"], .wl-content .wl-emoji[src^="/emote/3/"] {
  width: 1.25em !important;
}
th {
  text-align: center !important;
}
.post-footer {
  text-align: justify;
  overflow-wrap: break-word;
}
.back-to-top {
  border-radius: 10px;
}
.wl-avatar img, .site-author-image, .wl-user img {
  min-width: 0 !important;
  border-radius: 50% !important;
}
.cc-license img {
  min-width: 0 !important;
  border-radius: 0 !important;
}
img:not(.wl-emoji):not(.fancybox-image) {
  min-width: 50px;
  border-radius: 20px;
}
.link-grid-container, blockquote, .post-copyright ul {
  border-radius: 20px !important;
}
.site-brand-container, .header-inner {
  border-radius: 0 0 20px 20px !important;
}
.main-inner > .sub-menu, .main-inner > .post-block, .main-inner > .tabs-comment, .main-inner > .comments, .main-inner > .pagination, .sidebar-inner {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.fancybox-image {
  opacity: 1 !important;
}
.inaccessible {
  color: #EEE;
  background: #222;
  font-size: 16px;
  border-radius: 5px;
  padding: 5px;
  margin-top: 40px;
  position: absolute;
  display: none;
}

@font-face {
  font-family: "iconfont";
  src: url('/css/iconfont.ttf') format('truetype');
}
.custom {
  font-family: "iconfont" !important;
  margin-right: 2px;
  font-style: normal;
}
.bilibili:before {
  content: "\e75c";
}
.gitee:before {
  content: "\e677";
}
