body {
  filter: grayscale(1);
}
.comments {
  overflow: visible;
}
.v[data-class=v] .vemoji-popup .vtabs {
  height: auto !important;
}
.v[data-class=v] .vcontent .vemoji {
  width: 2.5em !important;
  vertical-align: bottom !important;
}
.v[data-class=v] .vcontent .vemoji[src^="/emote/1/"], .v[data-class=v] .vcontent .vemoji[src^="/emote/3/"] {
  width: 1.25em !important;
}
th {
  text-align: center !important;
}
.post-footer {
  text-align: justify;
  overflow-wrap: break-word;
}
.back-to-top {
  border-radius: 10px;
}
.vavatar img, .site-author-image, .vuser {
  min-width: 0 !important;
  border-radius: 50% !important;
}
.cc-license img {
  min-width: 0 !important;
  border-radius: 0 !important;
}
img:not(.vemoji):not(.fancybox-image) {
  min-width: 50px;
  border-radius: 20px;
}
.link-grid-container, blockquote, .post-copyright ul {
  border-radius: 20px !important;
}
.site-brand-container, .header-inner {
  border-radius: 0 0 20px 20px !important;
}
.main-inner > .sub-menu, .main-inner > .post-block, .main-inner > .tabs-comment, .main-inner > .comments, .main-inner > .pagination, .sidebar-inner {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.fancybox-image {
  opacity: 1 !important;
}

@font-face {
  font-family: "iconfont";
  src: url('/css/iconfont.ttf') format('truetype');
}
.custom {
  font-family: "iconfont" !important;
  margin-right: 2px;
  font-style: normal;
}
.bilibili:before {
  content: "\e75c";
}
.gitee:before {
  content: "\e677";
}
