$content-bg-color = rgba(255, 255, 255, 0.9);
$content-bg-color-dark = rgba(40, 40, 40, 0.8);
$menu-item-bg-color = rgba(245, 245, 245, 0.7);
$menu-item-bg-color-dark = rgba(85, 85, 85, 0.6);
$table-row-odd-bg-color = rgba(249, 249, 249, 0.5);
$table-row-odd-bg-color-dark = rgba(40, 40, 40, 0.5);
$table-row-hover-bg-color = rgba(245, 245, 245, 0.5);
$table-row-hover-bg-color-dark = rgba(54, 54, 54, 0.5);

$b2t-opacity = 0.8;
$b2t-opacity-hover = 0.9;

$border-radius-inner = 20px;
$border-radius = 20px;
$note-border-radius = 20px;
$btn-default-radius = 10px;
$tbr = 10px;
